rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /patients/{caseId}/photos/{photoName} {
      allow create: if request.resource.size < 15 * 1024 * 1024;
      allow read: if request.auth != null;
      allow update, delete: if false;
    }

    match /patients/{caseId}/followup/{allPaths=**} {
      allow create: if request.resource.size < 15 * 1024 * 1024;
      allow read: if request.auth != null;
      allow update, delete: if false;
    }

  }
}
